/* models.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.largeHeading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(255, 255, 255); /* Set color to black */
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.modelsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.modelCard {
  text-align: center;
  padding: 1rem;
  background-color: #f3f4f6;
  border-radius: 8px;
}

.modelName {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: black; /* Set color to black */
}

.downloadButton {
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}
